<div>
    <h1>Dados dos Alunos</h1>
    Conhecimentos turma jovem programador:

    Lógica de programação
    Algoritmos
    Expressões Aritméticas
    Variáveis e tipos
    Padrão Camel Case
    Estrutura Sequencial
    Estrutura Condicional
    Estruturas Repetitivas
    Vetores
    Matrizes
    Debug
    Programação Orientação a Objetos
    Classes
    Métodos
    Conexão da aplicação com o banco de dados
    Testes Unitários
    Programação Web: MVC(Model - View - Controller)
    CRUD
    Chamada de api
    Uso do Git e Github
    Branch
    Publicar projeto
</div>