@{
    ViewData["Title"] = "Iniciar";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos Aluno(a)!!</h1>
    <p>O Curso Jovem Programador Esta sendo Maravilhoso Pra Mim! Esta sendo uma passo muito Importante..</p>
    
</div>

<div align="left">Encontre-me:</div>
<ul>

    <li><a href="https://www.linkedin.com/in/rubenssilvafilho023/" target="_blank">Linkedin</a></li>

</ul>


<img src="https://source.unsplash.com/random" />
 
