@{
    ViewData["Title"] = "Iniciar";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos Aluno(a)!!</h1>
    <p>O Curso Jovem Programador Esta sendo Maravilhoso Pra Mim!<a href="https://docs.microsoft.com/aspnet/core">Esta sendo uma passo muito Importante.</a>.</p>
    
</div>

<div align="left">Encontre-me:</div>
<ul>

    <li><a href="https://www.linkedin.com/in/rubenssilvafilho023/" target="_blank">Linkedin</a></li>

</ul>
 
