<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nome</label>
    <input type="text" class="form-control col-md-6" id="formGroupExampleInput">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Idade</label>
    <input type="text" class="form-control col-md-1" id="formGroupExampleInput2">
</div>

<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Contato</label>
    <input type="text" class="form-control col-md-2" id="formGroupExampleInput" placeholder="(00)9999-9999">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Email</label>
    <input type="text" class="form-control col-md-2 " id="formGroupExampleInput2">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Cep</label>
    <input type="text" class="form-control col-md-2" id="formGroupExampleInput2" placeholder="000000-00">
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">Adicionar</button>
    <button class="btn btn-primary" type="button">Voltar</button>
</div>


