<div class="test-left">
    <div>
        <h1>Dados dos Alunos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">Cep</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Rubens</td>
                <td>35</td>
                <td>(47)991608470</td>
                <td>88359-506</td>
                <td><button type="button" class="btn btn-primary btn-lg">Endereço</button>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jocimara</td>
                <td>36</td>
                <td>(47)991608470</td>
                <td>88359-506</td>
                <td><button type="button" class="btn btn-primary btn-lg">Endereço</button>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Matheus</td>
                <td>10</td>
                <td>(47)991608470</td>
                <td>88359-506</td>
                <td><button type="button" class="btn btn-primary btn-lg">Endereço</button>

            </tr>

        </tbody>
    </table>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" type="button" asp-controller="Alunos" asp-action="Adicionar">Adicionar Novo Aluno(a)</a>
    </div>

</div>
